<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Scrum-master service</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{css/service.css}" rel="stylesheet">
</head>

<body>
<div th:replace="service-header :: header"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="scrum-master-service-sideBar :: sidebar"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2" th:text="#{service.scrumMaster.sideBar.createStory}"></h1>
            </div>
            <!-- Material form contact -->
            <div class="row">
                <div class="col-sm-6">
                    <!--Card content-->
                    <div class="card-body px-lg-5 pt-0">
                        <form class="text-center border border-light p-5" method="POST" th:action="@{/create-story}"
                              th:object="${story}">

                            <p class="h4 mb-4" th:text="#{createStory.info}"></p>

                            <!-- Name -->

                            <label for="defaultContactFormName"></label>
                            <label class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
                            <input type="text" id="defaultContactFormName"
                                   class="form-control mb-4"
                                   name="name" required th:filed="*{name}"
                                   th:placeholder="#{createStory.name}"/>

                            <p class="h6 mb-6" th:text="#{createStory.spentTime}"></p>
                            <label>
                                <label class="text-danger" th:if="${#fields.hasErrors('spentTime')}" th:errors="*{spentTime}">
                                </label>
                                <input type="time" class="form-control mb-4" name="spentTime" th:filed="*{spentTime}" required>
                            </label>

                            <div class="form-group">
                                <label class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></label>
                                <label for="exampleFormControlTextarea2"></label>
                                <textarea
                                        class="form-control rounded-0"
                                        name="description" id="exampleFormControlTextarea2" rows="5" th:filed="*{description}"
                                        th:placeholder="#{createStory.description}"></textarea>
                            </div>

                            <p class="h6 mb-6" th:text="#{createStory.goalId}"></p>
                            <label class="text-danger" th:if="${#fields.hasErrors('goal')}" th:errors="*{goal}"></label>
                            <label>
                                <select class="browser-default custom-select mb-4" name="goalId" required>
                                    <option value="" disabled selected th:text="#{createStory.option}"></option>
                                    <option th:value="${goal.id}" th:each="goal : ${goals}"
                                            th:text="${goal.name}"></option>
                                </select>
                            </label>

                            <button class="btn btn-info btn-block" type="submit" th:text="#{createStory.submit}">
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<script src="js/feather.min.js"></script>
<script>
    feather.replace()
</script>
</body>
</html>