<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin side bar</title>
<body>
<nav class="col-md-2 d-none d-md-block bg-light sidebar" th:fragment="sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/developer-service}"
                   th:text="#{service.admin.sideBar.home}">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/free-stories(currentPage=1, recordsPerPage=10)}"
                   th:text="#{service.developer.sideBar.freeStories}">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/developer-stories(id=${session.user.getId()}, currentPage=1, recordsPerPage=10)}"
                   th:text="#{service.developer.sideBar.yourStories}">
                </a>
            </li>
        </ul>
    </div>
</nav>

<script th:src="@{js/feather.min.js}"></script>
<script>
    feather.replace()
</script>
</body>
</html>