<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Header</title>
</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" th:fragment="header">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="index">Timetracker</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <form action="signOut" method="get">
                <button type="submit" class="btn btn-primary btn-block" th:text="#{signOut.exit}"></button>
            </form>
        </li>
    </ul>
</nav>
</body>
</html>