<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Developer service</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link  th:href="@{css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{css/service.css}" rel="stylesheet">
</head>

<body>
<div th:replace="service-header :: header"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="developer-service-sideBar :: sidebar"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2" th:text="#{service.developer.sideBar.yourStories}"></h1>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th th:text="#{service.admin.showStories.name}"></th>
                        <th th:text="#{service.admin.showStories.spentTime}"></th>
                        <th th:text="#{service.admin.showStories.descr}"></th>
                        <th th:text="#{service.admin.showStories.status}"></th>
                        <th th:text="#{service.admin.showStories.goalId}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="story : ${stories}">
                        <td th:text="${story.getId()}"></td>
                        <td th:text="${story.getName()}"></td>
                        <td th:text="${story.getSpentTime()}"></td>
                        <td th:text="${story.getDescription()}"></td>
                        <td th:text="${story.getStatus().getDescription()}"></td>
                        <td th:text="${story.getGoal().getId()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:replace="developer-service-paginating :: paginating"></div>
        </main>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>